/* Imports*/
@import 'partials/typography';
@import 'partials/buttons';
@import 'partials/colors';
@import 'partials/layout';
@import 'partials/video_skin';


/* ==========================================================================
Responsive Media Queries
========================================================================== */
@media screen and (max-width:1200px)
{
    .header-nav-wrapper nav
    {
        margin-right: 10px;
    }
    .header-nav-wrapper .logo
    {
        width: 350px;
    }
}
@media screen and (max-width:1024px)
{
    .primary-nav-wrapper
    {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;

        visibility: hidden;

        width: 100%;
        height: 100%;

        opacity: 0;
        background-color: $slate;
    }
    .navicon
    {
        visibility: visible;
    }
    .header-nav-wrapper nav
    {
        width: 100%;
        padding: 100px 0 0;

        text-align: center;
    }
    .header-nav-wrapper nav ul
    {
        display: block;
    }
    .header-nav-wrapper nav ul li
    {
        font-size: 30px;

        display: block;

        padding: 10px 20px;

        border-right: none;
    }
    .header-nav-wrapper nav ul li a
    {
        display: block;

        padding-bottom: 40px;

        color: $white;
    }
    .header-nav-wrapper nav ul li a:before
    {
        display: none;
    }

}
@media screen and (max-width:991px)
{
    .collective .video-player
    {
        margin: 25px 0 50px;
    }
    .crew article.crew-member
    {
        margin-bottom: 30px;
    }
    .latest-articles article.standard-article
    {
        margin-top: 20px;
    }
    h4
    {
        margin-left: 0;
    }
    .freebies .content-left
    {
        margin-bottom: 20px;
        padding-right: 0;

        border-right: none;
    }
    .freebies .content-right
    {
        padding-left: 15px;
    }
    footer .footer-nav ul.footer-primary-nav li
    {
        margin-right: 40px;
    }
    section.get-started h2
    {
        line-height: 42px;

        margin: 0 0 20px;
    }
    .latest-articles article
    {
        margin-top: 50px;
    }
}
@media screen and (max-width:768px)
{
    .stats .stats-container
    {
        width: 210px;
        margin: 0 auto 100px;

        text-align: left;

        border-right: none;
    }
    .stats .stats-container:last-child
    {
        margin-bottom: 0;
    }
    .latest-articles .sort
    {
        text-align: left;
    }
    footer .footer-branding
    {
        margin-bottom: 20px;
    }
    footer .footer-nav
    {
        padding-top: 20px;

        border-top: solid 1px rgba(255, 255, 255, .15);
    }
    footer .footer-nav ul.footer-primary-nav
    {
        display: block;

        margin-bottom: 0;
    }
    footer .footer-nav ul.footer-primary-nav li
    {
        display: block;

        margin: 0 0 20px;
        padding: 15px 0;

        border-bottom: dashed 1px rgba(255,255,255,.25);
    }
    footer ul li a
    {
        display: block;
    }
    footer .footer-nav ul.footer-share
    {
        display: block;
        float: none;
    }
    footer ul.footer-secondary-nav
    {
        margin-top: 80px;
    }
    footer ul.footer-secondary-nav li a
    {
        margin-top: 10px;
    }
    footer .footer-nav ul.footer-share > li
    {
        display: block;

        margin: 0 0 40px;
        padding: 15px 0;

        border-bottom: dashed 1px rgba(255,255,255,.25);
    }
    .social-share
    {
        top: auto;
        right: auto;
        bottom: 50px;
        left: 15px;
    }
    .social-share:after
    {
        left: 20%;
    }

}
@media screen and (max-width:640px)
{
    .video-js
    {
        width: 100%;
    }
    .collective .video-player
    {
        width: 100%;
    }
    header.hero
    {
        // height: 640px;
    }
    header.hero h1
    {
        font-size: 30px;
        line-height: 40px;
    }
    .has-padding
    {
        padding: 80px 0;
    }
    .has-padding-tall
    {
        padding: 80px 0;
    }
    section.get-started h2
    {
        font-size: 24px;
        line-height: 48px;

        margin-right: 0;
        margin-bottom: 30px;
    }
    .latest-articles article.featured-article
    {
        height: 310px;
        max-height: 310px;
    }
    .latest-articles article.standard-article
    {
        height: 180px;
        max-height: 180px;
    }
    .freebies {
      padding:5px 0;
    }
}
@media screen and (max-width:480px)
{
    .stats {
      display: none;
    }
    .header-nav-wrapper
    {
        border-bottom: solid 5px $teal;
        background-color: $slate;
    }
    // .logo
    // {
    //     width: 250px;
    // }
    .navicon
    {
        padding: 40px 35px;

        background-color: transparent;
    }
    .header-nav-wrapper .logo
    {
        border-bottom: none;
    }
    .sort h5
    {
        display: block;
    }
    .latest-articles select#inputArticle-Sort
    {
        margin: 20px 0;
    }
}
@media screen and (max-width:320px)
{
}
