// Colours partial

// Text colours

$white: #ffffff; //white
$black: #000000; //black
$slate: #414A52; //body font
$light-slate: #5E6265;
$light-grey: #F4F6F9; //light section
$dark-grey: #8A9097;
$teal: #3cafe0; //cta
$dark-teal: #369dc9; //cta-hover
$porcelain: #E5E7E9; //keylines

$light-grey-trans: rgba($light-slate, 0.9);
